/* template-color */

.preloader-close {
    color: #6B705C;
}

.scroll-to-top .scroll-bar-text {
    color: #6B705C;
}

.theme-btn.btn-one {
    background: #6B705C;
}

.xs-sidebar-group .close-side-widget:hover {
    border-color: #6B705C;
    background: #6B705C;
}

.search-popup .search-form fieldset input[type="search"]:focus {
    border: 3px solid #6B705C !important;
}

.main-menu .navigation>li.current>a,
.main-menu .navigation>li:hover>a {
    color: #6B705C;
}

.main-menu .navigation>li.current>a:after,
.main-menu .navigation>li:hover>a:after {
    background: #6B705C;
}

.main-menu .navigation>li>ul>li>a:hover,
.main-menu .navigation>li>.megamenu li>a:hover {
    color: #6B705C;
}

.main-menu .navigation>li>ul>li>ul>li>a:hover {
    color: #6B705C;
}

.main-header .menu-right-content .search-box-outer:hover {
    color: #6B705C;
}

.main-header .menu-right-content .nav-btn.nav-toggler:hover {
    color: #6B705C;
}

.banner-carousel .content-box h2 span {
    color: #6B705C;
}

.banner-section .banner-thumb-inner .single-item .count-text {
    color: #6B705C;
}

.about-section .image-box:after {
    border-top: 1px dashed #6B705C;
}

.sec-title .sub-title {
    color: #6B705C;
}

.sec-title h2 span {
    color: #6B705C;
}

.about-section .content-box .author-box .inner .designation span {
    color: #6B705C;
}

.banner-section .banner-thumb-inner .active.current .single-item:before {
    background: #6B705C;
}

.banner-carousel .owl-nav button {
    color: #6B705C;
}

.banner-carousel .owl-nav button:hover {
    background: #6B705C;
    border-color: #6B705C;
}

.video-section .inner-box .content-box .text h2 span {
    color: #6B705C;
}

.video-section .inner-box .content-box .text h4 {
    color: #6B705C;
}

.video-section .inner-box .content-box .video-btn a {
    border: 2px solid #6B705C;
    color: #6B705C;
}

.video-section .owl-theme .owl-dots .owl-dot.active span,
.video-section .owl-theme .owl-dots .owl-dot span:hover {
    border-color: #6B705C;
}

.video-section .owl-theme .owl-dots .owl-dot.active span:before,
.video-section .owl-theme .owl-dots .owl-dot span:hover:before {
    background: #6B705C;
}

.project-block-one .inner-box .content-box h2 a:hover {
    color: #6B705C;
}

.project-block-one .inner-box .content-box p {
    color: #6B705C;
}

.project-block-one .inner-box .content-box .link a:hover {
    color: #6B705C;
}

.project-section .owl-nav button {
    background: #6B705C;
}

.project-section .owl-nav button:hover {
    color: #6B705C;
}

.news-block-one .inner-box .post-info li {
    color: #6B705C;
}

.news-block-one .inner-box .post-info li a {
    color: #6B705C;
}

.news-block-one .inner-box h3 a:hover {
    color: #6B705C;
}

.main-footer .sec-title a {
    background: #6B705C;
}

.main-footer .sec-title a:hover {
    color: #6B705C;
}

.main-footer .contact-widget .info-list li a:hover {
    color: #6B705C;
}

.main-footer .subscribe-widget form .form-group button {
    background: #6B705C;
}

.main-footer .subscribe-widget form .form-group input:focus {
    border-color: #6B705C !important;
}

.main-footer .subscribe-widget .social-links li a:hover {
    color: #6B705C;
}

.footer-bottom .copyright h4 a:hover {
    color: #6B705C;
}

.banner-style-two .slider-content .single-item .content-box h2 span {
    color: #6B705C;
}

.banner-style-two .slider-content .single-item .content-box .info li span {
    color: #6B705C;
}

.banner-style-two .slider-content .single-item .content-box .info li i {
    color: #6B705C;
}

.banner-style-two .owl-nav button:hover {
    border-color: #6B705C;
    background: #6B705C;
}

.curve-text .text h2 span {
    color: #6B705C;
}

.curve-text .text h3 {
    color: #6B705C;
}

.project-style-two .tab-btns .p-tab-btn h4 span {
    background: #6B705C;
}

.nav-style-one .owl-nav button:hover {
    border-color: #6B705C;
    color: #6B705C;
}

.testimonial-block-one .inner-box .quote {
    color: #6B705C;
}

.testimonial-block-one .inner-box .text span {
    color: #6B705C;
}

.testimonial-block-one .inner-box .author-box .designation {
    color: #6B705C;
}

.team-block-one .inner-box .image-box .social-links li a:hover {
    color: #6B705C;
}

.team-block-one .inner-box .content-box .count-text {
    -webkit-text-stroke-color: #6B705C;
}

.team-block-one .inner-box .content-box h4 a:hover {
    color: #6B705C;
}

.team-block-one .inner-box .content-box .designation {
    color: #6B705C;
}

.team-section .owl-theme .owl-dots .owl-dot.active span,
.team-section .owl-theme .owl-dots .owl-dot span:hover {
    border-color: #6B705C;
}

.team-section .owl-theme .owl-dots .owl-dot.active span:before,
.team-section .owl-theme .owl-dots .owl-dot span:hover:before {
    background: #6B705C;
}

.news-block-two .inner-box .post-info li {
    color: #6B705C;
}

.news-block-two .inner-box .post-info li a {
    color: #6B705C;
}

.news-block-two .inner-box h3 a:hover {
    color: #6B705C;
}

.main-footer.style-two .subscribe-widget form .form-group textarea:focus {
    border-color: #6B705C;
}

.main-footer .links-widget .links-list li a:hover {
    color: #6B705C;
}

.main-footer.style-two .contact-widget .copyright a:hover {
    color: #6B705C;
}

.main-content-outerbox .mobile-menu .copyright h4 a:hover {
    color: #6B705C;
}

.banner-style-three .banner-carousel .owl-nav button {
    background: #6B705C;
}

.banner-style-three .banner-carousel .owl-nav button:hover {
    color: #6B705C;
}

.banner-style-three .text h1 span {
    color: #6B705C;
}

.video-section .testimonial-content .text-inner .quote {
    color: #6B705C;
}

.video-section .testimonial-content .author-box .designation {
    color: #6B705C;
}

.main-footer.style-three .footer-top h2 span {
    color: #6B705C;
}

.main-footer.style-three .footer-top .form-inner .form-group input:focus {
    border-color: #6B705C !important;
}

.main-footer.style-three .gallery-widget .image-list li .image {
    background: #6B705C;
}

.page-title:before {
    background: #6B705C;
}

.testimonial-block-two .inner-box .quote {
    color: #6B705C;
}

.testimonial-block-two .inner-box .author-box .designation {
    color: #6B705C;
}

.testimonial-block-two .inner-box:before {
    background: #6B705C;
}

.about-style-three .image-box .icon-box {
    background: #6B705C;
}

.service-sidebar .category-widget .category-list li a:before {
    background: #6B705C;
}

.service-sidebar .category-widget h3:before {
    background: #6B705C;
}

.project-page-section .filters .filter-tabs li.active,
.project-page-section .filters .filter-tabs li:hover {
    color: #6B705C;
}

.team-page-section .tab-btn-box .tab-btns li.active-btn,
.team-page-section .tab-btn-box .tab-btns li:hover {
    color: #6B705C;
}

.team-details .inner-box .image-box .social-links li a:hover {
    color: #6B705C;
}

.team-details .inner-box .content-box .designation {
    color: #6B705C;
}

.team-details .inner-box .content-box .social-links li a:hover {
    color: #6B705C;
}

.team-details .inner-box .content-box .info-list li span {
    color: #6B705C;
}

.team-details .inner-box .content-box .info-list li a:hover {
    color: #6B705C;
}

.comingsoon-section .inner-box .form-inner .form-group input:focus {
    border-color: #6B705C !important;
}

.error-section .inner-box h2 {
    color: #6B705C;
}

.blog-details-content .content-one blockquote {
    border-left: 5px solid #6B705C;
}

.blog-details-content .content-one blockquote .name {
    color: #6B705C;
}

.blog-details-content .content-one blockquote .name:before {
    background: #6B705C;
}

.blog-details-content .comment-box .comment .comment-info h6 {
    color: #6B705C;
}

.blog-details-content .comment-box .comment .comment-inner .reply-btn {
    color: #6B705C;
}

.blog-details-content .comments-form-area .comment-form .form-group input:focus,
.blog-details-content .comments-form-area .comment-form .form-group textarea:focus {
    border-color: #6B705C !important;
}

.blog-sidebar .search-widget h3 span {
    color: #6B705C;
}

.blog-sidebar .search-widget .search-form .form-group input:focus {
    border-color: #6B705C !important;
}

.blog-sidebar .search-widget .search-form .form-group input:focus+button,
.blog-sidebar .search-widget .search-form .form-group button:hover {
    color: #6B705C;
}

.blog-sidebar .sidebar-widget .widget-title:before {
    background: #6B705C;
}

.blog-sidebar .category-widget .category-list li a:before {
    background: #6B705C;
}

.blog-sidebar .tags-widget .tags-list li a:hover {
    background: #6B705C;
}

.contact-page-section .form-inner form .form-group input:focus,
.contact-page-section .form-inner form .form-group textarea:focus {
    border-color: #6B705C !important;
}

.contact-page-section .content-box .info-list li a:hover {
    color: #6B705C;
}